## Prove di utilizzo
Importati *.csv

In [1]:
print("Ciao")

Ciao

## Heart disease

# Ciao

### Blu

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('heart-disease.csv')

The following show info for heart disease

In [6]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

![](6-step-ml-framework)

![](6-step-ml-framework.png)

## Predict heart disease

In [7]:
ls

 Volume in drive D has no label.
 Volume Serial Number is 9EF1-54C2

 Directory of D:\Python_DataScience\CompleteML\sample01

12/07/2020  15:53    <DIR>          .
12/07/2020  15:53    <DIR>          ..
12/07/2020  14:44    <DIR>          .ipynb_checkpoints
12/07/2020  15:43           332.025 6-step-ml-framework.png
12/07/2020  14:37    <DIR>          env
12/07/2020  15:53             6.660 ExampleNotebook.ipynb
12/07/2020  14:52           882.629 fortune500.csv
12/07/2020  14:52            11.328 heart-disease.csv
               4 File(s)      1.232.642 bytes
               4 Dir(s)  44.401.471.488 bytes free

fortune = pd-read_csv(fortune500.csv)

In [10]:
fortune = pd.read_csv('fortune500.csv')

In [11]:
fortune.head()

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1

In [12]:
import matplotlib.pyplot as plt

In [15]:
df.target.value_counts()

1    165
0    138
Name: target, dtype: int64